# Server configuration
PORT=8080
ENV=development   # development | production

# MySQL DB configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=lms_db

# Redis configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

# JWT Authentication Config (Use strong random keys in production)
JWT_ACCESS_SECRET=your_jwt_access_secret_min_32_chars
JWT_REFRESH_SECRET=your_jwt_refresh_secret_min_32_chars
JWT_ACCESS_EXPIRY_MINUTES=15
JWT_REFRESH_EXPIRY_DAYS=7

# Cloudinary Storage Config (https://cloudinary.com)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# VNPay payment gateway (https://sandbox.vnpayment.vn)
VNP_TMN_CODE=your_tmn_code
VNP_HASH_SECRET=your_hash_secret
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5173/student/payment-result
VNP_API_URL=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction

# Resend Email (https://resend.com)
RESEND_API_KEY=re_your_resend_api_key
EMAIL_FROM_ADDRESS=onboarding@resend.dev
